<div class="container my-auto">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-head">
        </div>

        <div class="card-body">

          <div class="form-group">
            <label>Ref</label>
            <input type="text" class="form-control" [(ngModel)]="video.ref">
          </div>
          <div class="form-group">
            <label>Titre</label>
            <input type="text" class="form-control" [(ngModel)]="video.titre">
          </div>

          <div class="form-group">
            <label>Totale Views</label>
            <input type="number" class="form-control" [(ngModel)]="video.totalVue">
          </div>
        </div>
      </div>
      <div class="card" style="margin-top:5px">
        <div class="card-header"></div>
        <div class="card-body">
          <div class="form-group">
            <label>Ref</label>
            <input type="text" class="form-control" [(ngModel)]="video.ref">
          </div>
        </div>
        <div class="footer">
          <button class="btn btn-outline-dark btn-block fas fa-search" (click)="findVideo(video.ref)">search</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header"></div>

        <div class="card-body">
          <div class="form-group">
            <label>playListe ref</label>
            <input type="text" class="form-control" [(ngModel)]="playliste.ref">
          </div>
          <div class="form-group">
            <label>playListe desc</label>
            <input type="text" class="form-control" [(ngModel)]="playliste.description">
          </div>
          <div class="form-group">
            <label>playListe title</label>
            <input type="text" class="form-control" [(ngModel)]="playliste.titre">
          </div>

          <div class="card-footer">
            <button class="btn btn-outline-dark btn-block" (click)="savePlayListe()">save</button>
          </div>
        </div>
        <div class="card">
          <div class="card-header"></div>
          <div class="card-body"></div>
          <div class="card-footer"></div>
        </div>
      </div>
    </div>
  </div>
</div>
